.git
.gitignore
.env
.env.*
!.env.example
.vscode
.idea

venv
.venv
env
__pycache__
**/__pycache__
*.py[cod]
*.so

*.db
test.db
storage
models
logs
*.log

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
tests

Dockerfile*
compose*.yaml
compose*.yml
docker-compose*.yaml
docker-compose*.yml
docs
deploy

*.zip
*.tar
*.tar.gz
s -ExecutionPolicy*
Thumbs.db
.DS_Store
